In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
#Import the relevant data
Salmon = pd.read_excel("Data/ZooPlanktonPerryData.xlsx", 5)
oldSSTs = pd.read_csv("Data/SSTs")
Salinity = pd.read_csv("Data/Entrance_Island_-_Average_Monthly_Sea_Surface_Salinities_1936-2023.csv")
Catches = pd.read_excel("Data/Copy of recreational reported fishery catch, 1953-2012.xlsx")
SeaLevel = pd.read_csv("Data/SeaLevel_Cherry_annualMean.txt", sep=";")
xl_file = pd.ExcelFile('Data/ZooPlanktonPerryData.xlsx')

In [13]:
Salmon = Salmon.rename(columns={"Ocean Entry Year":"Year"})

#For each year I want a list with the SSTs for the months in ascending order. 
SSTsList = []
for year in oldSSTs["Year"].unique():
    SSTsList.append([year] + oldSSTs[oldSSTs["Year"] == year]["SST"].tolist())

SSTs = pd.DataFrame(SSTsList, columns=["Year", "SST Jan.", "SST Feb.", "SST Mar.", "SST Apr.", "SST May", "SST Jun.", "SST Jul.", "SST Aug", "SST Sep.", "SST Oct.", "SST Nov.", "SST Dec."])

#Extract the zoo plankton anomalies from the excel sheet
Original_Salmon_Sheets = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}

anom = Original_Salmon_Sheets['3. Zooplankton anomalies']
anom = anom[6:]
zoos = anom[anom.columns[3:]]
zoos["Year"] = anom["Year"]

#Grab the relevant years from Salinity
Salinity = Salinity[55:] 
Salinity = Salinity.rename(columns={"ENTRANCE ISLAND LIGHTSTATION: AVERAGE MONTHLY SEA SURFACE SALINITIES (PSU)":"Year"})
Salinity = Salinity['Year'].astype(int)

#Next is Catches
ModernCatches = Catches[Catches["YEAR"] >= 1990]
CohoCatches = ModernCatches[ModernCatches["SPECIES_DESC"] == "COHO SALMON"]
ChinookCatches = ModernCatches[ModernCatches["SPECIES_DESC"] == "CHINOOK SALMON"]
cohoAnnualCatchList = []
chinookAnnualCatchList = []
yearList = []
for year in CohoCatches["YEAR"].unique():
    cohoAnnualCatchList.append(CohoCatches[CohoCatches["YEAR"] == year]["PIECES"].sum())
    chinookAnnualCatchList.append(ChinookCatches[ChinookCatches["YEAR"] == year]["PIECES"].sum())
    yearList.append(year)
Catches = pd.DataFrame({"Coho": cohoAnnualCatchList, "Chinook": chinookAnnualCatchList, "Year": yearList})
#Sealevel
SeaLevel = SeaLevel.drop(['Y', '000'], axis=1)
SeaLevel= SeaLevel.rename(columns={' 1985': "Year",'  6945': "Sea Level"}, errors="raise")
SeaLevel = SeaLevel[4:]

C:\Users\Sean Haight\AppData\Local\Temp\ipykernel_8928\4099388826.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zoos["Year"] = anom["Year"]

In [17]:
SeaLevel

    Year  Sea Level
4   1990       7002
5   1991       7007
6   1992       7069
7   1993       7019
8   1994     -99999
9   1995       7034
10  1996       6988
11  1997       7081
12  1998       7065
13  1999       7008
14  2000       6982
15  2001       6965
16  2002       6990
17  2003       7034
18  2004       7024
19  2005       7034
20  2006       7032
21  2007       6966
22  2008       6962
23  2009       6976
24  2010       7043
25  2011       6998
26  2012       7036
27  2013       6946
28  2014       7044
29  2015       7055
30  2016       7061
31  2017       7047
32  2018       7028
33  2019       7018
34  2020       6995
35  2021       6996
36  2022       6945

In [18]:
#Combine the relevant data into a single data frame
newFrame1 = pd.merge(Salmon, SSTs, on="Year", how="outer")
newFrame2 = pd.merge(newFrame1, zoos, on="Year", how="outer")
newFrame3 = pd.merge(newFrame2, Salinity, on="Year", how="outer")
newFrame4 = pd.merge(newFrame3, Catches, on="Year", how="outer")
AllData = pd.merge(newFrame4, SeaLevel, on="Year", how="outer")
AllData[["Cowichan Chinook", "Harrison Chinook", "Puntledge Chinook"]] = AllData[["Cowichan Chinook", "Harrison Chinook", "Puntledge Chinook"]].fillna(0)
AllData = AllData.drop([28, 29, 30, 31, 32, 33])

In [41]:
AllDataNoNull = AllData.dropna()

In [42]:
#Fit our linear models
AllDataNoNull

,Year,Cowichan Chinook,Harrison Chinook,Puntledge Chinook,Big Qualicum Coho,SST Jan.,SST Feb.,SST Mar.,SST Apr.,SST May,...,Natantia,NonCalCops,Ostracoda,PolychaetPelagic,Pteropods,Repantia,Siphonophorae,Coho,Chinook,Sea Level
6,1996,0.008811,0.010038,0.000000,0.014246,10.860983,12.025331,11.728321,11.119489,9.948300,...,0.102015,0.242330,0.297214,0.255998,0.019095,-0.604888,0.391865,217199.0,114942.0,6988.0
7,1997,0.008294,0.023246,0.004286,0.004293,11.910243,12.317101,12.166986,11.192175,10.135995,...,0.163304,0.248062,0.278687,-0.063418,-0.024925,0.211126,0.247333,213163.0,154268.0,7081.0
8,1998,0.010999,0.008297,0.017847,0.013055,12.177850,12.481543,12.182488,11.857747,10.362404,...,0.159563,0.238723,0.374939,0.089059,0.701012,0.770283,0.089499,16335.0,160780.0,7065.0
9,1999,0.012922,0.009150,0.010559,0.012809,10.745245,11.234034,11.984316,11.041389,9.501446,...,-0.270029,0.370312,0.158727,-0.225340,1.165355,-1.340750,0.333140,47758.0,185093.0,7008.0
10,2000,0.009417,0.020958,0.004856,0.012290,11.760833,12.119185,11.596674,10.351773,9.346248,...,0.320934,0.229351,0.202458,0.399923,0.690691,0.541262,0.352759,36707.0,138164.0,6982.0
11,2001,0.004670,0.014350,0.006632,0.010490,11.766296,12.703541,12.857022,12.055732,11.124836,...,0.416704,-0.346593,0.014837,0.771314,0.049555,-0.267489,-0.139811,213302.0,218707.0,6965.0
12,2002,0.005766,0.024074,0.005320,0.007603,11.647489,12.359512,12.708898,12.127488,11.316425,...,-0.092913,-0.302982,0.023336,-0.015653,-1.322044,0.707707,-1.126729,183885.0,350788.0,6990.0
13,2003,0.003321,0.008604,0.009984,0.014171,12.302134,12.725002,12.487629,11.188088,10.113362,...,-1.347999,-0.119151,-0.015787,0.311688,-0.056666,-0.777562,-0.536512,345421.0,494653.0,7034.0
14,2004,0.004630,0.013713,0.009279,0.001227,11.854964,12.150301,11.676899,10.889526,9.744645,...,-0.172336,0.027338,0.018535,0.339549,-0.675904,-0.018153,0.276182,299931.0,606127.0,7024.0
15,2005,0.000000,0.000000,0.003218,0.000853,11.416472,12.057631,12.157208,11.479593,10.933879,...,-0.057620,-0.239464,0.066092,0.160682,0.072720,-1.031958,-0.178750,283672.0,541544.0,7034.0
16,2006,0.004538,0.068061,0.009830,0.004520,11.326324,11.548750,11.595725,11.067664,9.815412,...,0.309336,-0.318146,0.044550,0.214195,0.162697,0.579654,0.653969,127230.0,306738.0,7032.0
17,2007,0.003535,0.008014,0.005286,0.005799,12.057269,12.603388,12.474390,11.552998,10.353712,...,0.189049,0.154376,-0.027871,-0.791025,-0.425037,-0.126979,-0.211725,161341.0,266277.0,6966.0
18,2008,0.006801,0.057420,0.008062,0.004445,11.325270,11.202372,10.686602,10.150892,9.412422,...,0.178529,-0.135198,-0.283928,-0.281977,-0.087185,-0.030348,-0.501486,138712.0,231871.0,6962.0
19,2009,0.009124,0.019850,0.007352,0.005799,10.451771,11.097153,10.812210,9.892965,8.946607,...,0.057567,0.027202,-0.596579,-0.219616,0.122750,0.669843,0.414187,269846.0,289499.0,6976.0
20,2010,0.016032,0.010337,0.002242,0.008959,13.249796,13.658697,12.846882,11.436808,10.256066,...,0.133227,-0.225081,-0.251461,-0.222985,-0.031474,0.442147,0.046062,182997.0,390620.0,7043.0
21,2011,0.019668,0.047025,0.004646,0.017746,11.406158,11.532082,11.150988,10.415762,9.666142,...,0.390206,-0.178660,-0.249435,-0.291326,0.682191,-0.525105,0.393528,370218.0,1019708.0,6998.0
22,2012,0.016658,0.035031,0.009371,0.017916,10.705670,11.840341,11.669168,10.720529,9.866321,...,-0.071480,0.279214,0.075514,0.089404,0.296902,0.659715,0.784075,318471.0,394450.0,7036.0

,Year,Cowichan Chinook,Harrison Chinook,Puntledge Chinook,Big Qualicum Coho,SST Jan.,SST Feb.,SST Mar.,SST Apr.,SST May,...,Natantia,NonCalCops,Ostracoda,PolychaetPelagic,Pteropods,Repantia,Siphonophorae,Coho,Chinook,Sea Level
0,1990,0.063710,0.072071,0.006750,0.061526,11.410651,12.058082,12.308723,11.451993,10.976827,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,697063.0,214618.0,7002.0
1,1991,0.068293,0.021953,0.002300,0.058536,12.051308,12.139968,12.165228,11.185882,10.413297,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,234207.0,207730.0,7007.0
2,1992,0.027185,0.004026,0.001064,0.066708,12.731530,13.457280,13.043718,12.498678,11.721744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,721331.0,221024.0,7069.0
3,1993,0.025604,0.006471,0.000915,0.068536,12.669594,13.181225,12.626866,11.995455,11.096691,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,886011.0,228946.0,7019.0
4,1994,0.017956,0.020456,0.003553,0.029363,11.506655,12.117003,12.146119,11.171220,10.586092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,367871.0,169880.0,-99999.0
5,1995,0.017425,0.037811,0.001853,0.015976,12.196551,12.784145,12.256550,11.429519,10.420207,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156156.0,123882.0,7034.0
6,1996,0.008811,0.010038,0.000000,0.014246,10.860983,12.025331,11.728321,11.119489,9.948300,...,0.102015,0.242330,0.297214,0.255998,0.019095,-0.604888,0.391865,217199.0,114942.0,6988.0
7,1997,0.008294,0.023246,0.004286,0.004293,11.910243,12.317101,12.166986,11.192175,10.135995,...,0.163304,0.248062,0.278687,-0.063418,-0.024925,0.211126,0.247333,213163.0,154268.0,7081.0
8,1998,0.010999,0.008297,0.017847,0.013055,12.177850,12.481543,12.182488,11.857747,10.362404,...,0.159563,0.238723,0.374939,0.089059,0.701012,0.770283,0.089499,16335.0,160780.0,7065.0
9,1999,0.012922,0.009150,0.010559,0.012809,10.745245,11.234034,11.984316,11.041389,9.501446,...,-0.270029,0.370312,0.158727,-0.225340,1.165355,-1.340750,0.333140,47758.0,185093.0,7008.0
10,2000,0.009417,0.020958,0.004856,0.012290,11.760833,12.119185,11.596674,10.351773,9.346248,...,0.320934,0.229351,0.202458,0.399923,0.690691,0.541262,0.352759,36707.0,138164.0,6982.0
11,2001,0.004670,0.014350,0.006632,0.010490,11.766296,12.703541,12.857022,12.055732,11.124836,...,0.416704,-0.346593,0.014837,0.771314,0.049555,-0.267489,-0.139811,213302.0,218707.0,6965.0
12,2002,0.005766,0.024074,0.005320,0.007603,11.647489,12.359512,12.708898,12.127488,11.316425,...,-0.092913,-0.302982,0.023336,-0.015653,-1.322044,0.707707,-1.126729,183885.0,350788.0,6990.0
13,2003,0.003321,0.008604,0.009984,0.014171,12.302134,12.725002,12.487629,11.188088,10.113362,...,-1.347999,-0.119151,-0.015787,0.311688,-0.056666,-0.777562,-0.536512,345421.0,494653.0,7034.0
14,2004,0.004630,0.013713,0.009279,0.001227,11.854964,12.150301,11.676899,10.889526,9.744645,...,-0.172336,0.027338,0.018535,0.339549,-0.675904,-0.018153,0.276182,299931.0,606127.0,7024.0
15,2005,0.000000,0.000000,0.003218,0.000853,11.416472,12.057631,12.157208,11.479593,10.933879,...,-0.057620,-0.239464,0.066092,0.160682,0.072720,-1.031958,-0.178750,283672.0,541544.0,7034.0
16,2006,0.004538,0.068061,0.009830,0.004520,11.326324,11.548750,11.595725,11.067664,9.815412,...,0.309336,-0.318146,0.044550,0.214195,0.162697,0.579654,0.653969,127230.0,306738.0,7032.0
17,2007,0.003535,0.008014,0.005286,0.005799,12.057269,12.603388,12.474390,11.552998,10.353712,...,0.189049,0.154376,-0.027871,-0.791025,-0.425037,-0.126979,-0.211725,161341.0,266277.0,6966.0
18,2008,0.006801,0.057420,0.008062,0.004445,11.325270,11.202372,10.686602,10.150892,9.412422,...,0.178529,-0.135198,-0.283928,-0.281977,-0.087185,-0.030348,-0.501486,138712.0,231871.0,6962.0
19,2009,0.009124,0.019850,0.007352,0.005799,10.451771,11.097153,10.812210,9.892965,8.946607,...,0.057567,0.027202,-0.596579,-0.219616,0.122750,0.669843,0.414187,269846.0,289499.0,6976.0
20,2010,0.016032,0.010337,0.002242,0.008959,13.249796,13.658697,12.846882,11.436808,10.256066,...,0.133227,-0.225081,-0.251461,-0.222985,-0.031474,0.442147,0.046062,182997.0,390620.0,7043.0
21,2011,0.019668,0.047025,0.004646,0.017746,11.406158,11.532082,11.150988,10.415762,9.666142,...,0.390206,-0.178660,-0.249435,-0.291326,0.682191,-0.525105,0.393528,370218.0,1019708.0,6998.0
22,2012,0.016658,0.035031,0.009371,0.017916,10.705670,11.840341,11.669168,10.720529,9.866321,...,-0.071480,0.279214,0.075514,0.089404,0.296902,0.659715,0.784075,318471.0,394450.0,7036.0
23,2013,0.008516,0.006800,0.006033,0.008800,11.934421,12.229184,11.661112,11.023461,10.087063,...,0.234564,0.170372,-0.058670,0.294748,0.627057,-0.128128,0.494421,NaN,NaN,6946.0
24,2014,0.006013,0.018607,0.011985,0.004200,11.553294,12.442215,12.346724,11.446636,10.203977,...,0.366240,0.202536,-0.063342,0.241212,0.409778,0.149361,0.575707,NaN,NaN,7044.0
25,2015,0.012655,0.023721,0.009052,0.027000,12.632677,12.952696,12.263823,11.132689,10.279882,...,0.344557,0.457302,0.181920,0.322573,0.747185,0.792823,0.651941,NaN,NaN,7055.0
26,2016,0.011634,0.116958,0.009075,0.012206,13.249293,13.446718,13.220662,12.506093,11.139610,...,0.453173,0.375388,0.390769,0.168973,0.783363,0.845732,0.881531,NaN,NaN,7061.0
27,2017,0.022724,0.054860,0.002623,0.032895,12.403770,12.893296,12.197695,11.111750,9.908614,...,0.403816,0.297361,0.174884,0.366749,0.652509,0.773566,0.988140,NaN,NaN,7047.0