In [1]:
import numpy as np
import pandas as pd

In [13]:
WAPop = pd.read_excel("./WA/WAPop-1960-2020.xlsx", sheet_name=1, header=3)

In [14]:
WAPop

,Line,Filter,County,Jurisdiction,\nCensus Count of Total Population 1960,Intercensal Estimate of Total Population 1961,Intercensal Estimate of Total Population 1962,Intercensal Estimate of Total Population 1963,Intercensal Estimate of Total Population 1964,Intercensal Estimate of Total Population 1965,...,Intercensal Estimate of Total Population 2011,Intercensal Estimate of Total Population 2012,Intercensal Estimate of Total Population 2013,Intercensal Estimate of Total Population 2014,Intercensal Estimate of Total Population 2015,Intercensal Estimate of Total Population 2016,Intercensal Estimate of Total Population 2017,Intercensal Estimate of Total Population 2018,Intercensal Estimate of Total Population 2019,\nCensus Count of Total Population 2020
0,1,1,Adams,Adams County,9929,10100,10300,10100,10200,10400,...,18849,19013,19172,19309,19451,19643,20068,20200,20335,20613
1,10,1,Asotin,Asotin County,12909,12700,13000,13100,12900,12900,...,21667,21680,21725,21790,21889,22003,22047,22112,22182,22285
2,16,1,Benton,Benton County,62070,62300,62800,62400,62300,62500,...,177675,180115,183504,186954,189520,191531,194724,198731,202822,206873
3,25,1,Chelan,Chelan County,40744,40600,40700,40100,40000,39800,...,72833,73166,73391,74405,74873,75500,76338,77465,77944,79141
4,34,1,Clallam,Clallam County,30022,30400,31000,30900,31300,31900,...,71810,72383,72771,73104,73482,74160,74873,75513,76439,77155
5,41,1,Clark,Clark County,93809,96800,99900,102200,105000,108500,...,428626,432320,437014,444450,452534,461869,472481,480952,490693,503311
6,53,1,Columbia,Columbia County,4569,4600,4400,4500,4500,4300,...,4069,4039,4037,4003,4007,3990,3979,3970,3962,3952
7,59,1,Cowlitz,Cowlitz County,57801,58800,59800,60600,61400,62500,...,102730,103097,103470,104043,104702,105419,106469,107782,109315,110730
8,68,1,Douglas,Douglas County,14890,15100,15000,15200,15300,15300,...,38676,38968,39269,39557,40008,40533,41042,41570,42151,42938
9,78,1,Ferry,Ferry County,3889,4100,3800,3900,3900,3800,...,7514,7477,7449,7404,7354,7319,7283,7234,7209,7178
10,83,1,Franklin,Franklin County,23342,23500,23900,23800,24100,24200,...,80493,82484,84251,86544,87053,88515,90036,92626,94734,96749
11,91,1,Garfield,Garfield County,2976,2900,2900,2700,2700,2800,...,2266,2260,2260,2252,2280,2266,2263,2269,2278,2286
12,96,1,Grant,Grant County,46477,46100,46700,44600,43900,44500,...,89768,90404,91166,91862,92722,93434,94289,96214,97734,99123
13,115,1,Grays Harbor,Grays Harbor County,54465,55000,55400,55600,55900,56400,...,72885,73142,73272,73499,73474,73662,73910,74407,75145,75636
14,128,1,Island,Island County,19638,20300,20900,21100,21700,22400,...,82783,83515,83560,80810,81684,82759,84125,85072,85847,86857
15,135,1,Jefferson,Jefferson County,9639,9800,9700,9800,9900,9800,...,30184,30424,30592,30983,31266,31705,32000,32315,32683,32977
16,140,1,King,King County,935014,952300,971600,984400,1000200,1024000,...,1945686,1956755,1983550,2021027,2061981,2118958,2149910,2187460,2227755,2269675
17,183,1,Kitsap,Kitsap County,84176,85500,86700,87400,88100,89800,...,250422,252907,253217,255971,259034,263471,265268,269280,272342,275611
18,191,1,Kittitas,Kittitas County,20467,20900,21200,21700,22000,22400,...,41271,41410,41444,42088,42381,43263,43919,44395,45180,46468
19,200,1,Klickitat,Klickitat County,13455,13300,13300,13100,12900,12900,...,20530,20677,20805,21031,21210,21496,21804,22087,22443,22735
20,207,1,Lewis,Lewis County,41858,42300,42500,42500,42400,42900,...,76299,76765,76966,77563,78006,78556,79477,80250,81151,82149
21,220,1,Lincoln,Lincoln County,10919,10700,10600,10400,10200,10100,...,10598,10612,10576,10569,10610,10636,10694,10769,10850,10876
22,232,1,Mason,Mason County,16251,16500,17100,17200,17400,17800,...,61235,61611,61956,62366,62545,63125,63889,64658,65082,65726
23,237,1,Okanogan,Okanogan County,25520,25500,25400,25000,25000,25100,...,41274,41324,41396,41547,41625,41795,41838,41928,41996,42104
24,254,1,Pacific,Pacific County,14674,14500,14700,14900,14700,14700,...,21123,21351,21563,21771,21981,22236,22479,22738,22958,23365
25,262,1,Pend Oreille,Pend Oreille County,6914,6700,6800,6500,6300,6100,...,13063,13107,13111,13141,13150,13180,13228,13267,13326,13401
26,271,1,Pierce,Pierce County,321590,329100,337300,342700,349200,358600,...,806190,814214,823032,834544,845324,862608,877920,891661,905841,920393
27,299,1,San Juan,San Juan County,2872,2900,2900,3000,3000,3100,...,15946,16056,16238,16422,16571,16775,16932,17209,17488,17788
28,304,1,Skagit,Skagit County,51350,51300,51600,51100,50800,50900,...,117617,118331,119219,120197,121166,122465,123727,125895,128037,129523
29,316,1,Skamania,Skamania County,5207,5200,5300,5400,5400,5500,...,11095,11152,11166,11191,11209,11256,11331,11412,11517,11604
30,322,1,Snohomish,Snohomish County,172199,179900,188400,195300,203000,212700,...,718874,725545,735288,746184,760430,773899,787096,801223,814419,827957
31,346,1,Spokane,Spokane County,278333,278700,279800,278500,277900,277200,...,474439,478381,484161,489986,495986,502706,511653,522337,531191,539339
32,363,1,Stevens,Stevens County,17884,18000,18000,17500,17400,17500,...,43781,43976,44135,44485,44729,44908,45161,45592,46111,46445
33,373,1,Thurston,Thurston County,55049,56800,59000,60300,62000,64400,...,254999,258517,262682,267616,271409,276016,280399,285842,289597,294793
34,384,1,Wahkiakum,Wahkiakum County,3426,3500,3500,3300,3300,3400,...,4018,4050,4053,4099,4128,4179,4227,4293,4373,4422
35,389,1,Walla Walla,Walla Walla County,42195,42000,42200,41600,41500,41400,...,58871,59309,59640,60459,61036,61045,61428,61663,62117,62584
36,397,1,Whatcom,Whatcom County,70317,71300,72500,72800,73700,75100,...,202277,203683,206021,207937,210116,212669,216113,220057,223930,226847
37,408,1,Whitman,Whitman County,31263,31900,32400,33000,33400,34000,...,44488,45424,45498,45817,46380,46623,46961,47217,47871,47973
38,428,1,Yakima,Yakima County,145112,145100,145000,143800,143200,143400,...,244553,245605,246825,248229,249314,251046,252692,253814,254770,256728
39,446,100,State,State Total,2853214,2897000,2948000,2972000,3008000,3065000,...,6781477,6835249,6909445,7005209,7106620,7237219,7344073,7463479,7581818,7706310

In [30]:
WAPop.drop(columns={'Line','Filter','Jurisdiction'}).drop(len(WAPop)-1)

,County,\nCensus Count of Total Population 1960,Intercensal Estimate of Total Population 1961,Intercensal Estimate of Total Population 1962,Intercensal Estimate of Total Population 1963,Intercensal Estimate of Total Population 1964,Intercensal Estimate of Total Population 1965,Intercensal Estimate of Total Population 1966,Intercensal Estimate of Total Population 1967,Intercensal Estimate of Total Population 1968,...,Intercensal Estimate of Total Population 2011,Intercensal Estimate of Total Population 2012,Intercensal Estimate of Total Population 2013,Intercensal Estimate of Total Population 2014,Intercensal Estimate of Total Population 2015,Intercensal Estimate of Total Population 2016,Intercensal Estimate of Total Population 2017,Intercensal Estimate of Total Population 2018,Intercensal Estimate of Total Population 2019,\nCensus Count of Total Population 2020
0,Adams,9929,10100,10300,10100,10200,10400,10600,11000,11000,...,18849,19013,19172,19309,19451,19643,20068,20200,20335,20613
1,Asotin,12909,12700,13000,13100,12900,12900,13100,13600,13600,...,21667,21680,21725,21790,21889,22003,22047,22112,22182,22285
2,Benton,62070,62300,62800,62400,62300,62500,63100,64300,65200,...,177675,180115,183504,186954,189520,191531,194724,198731,202822,206873
3,Chelan,40744,40600,40700,40100,40000,39800,39700,40400,40600,...,72833,73166,73391,74405,74873,75500,76338,77465,77944,79141
4,Clallam,30022,30400,31000,30900,31300,31900,32500,33600,34300,...,71810,72383,72771,73104,73482,74160,74873,75513,76439,77155
5,Clark,93809,96800,99900,102200,105000,108500,111900,117200,122500,...,428626,432320,437014,444450,452534,461869,472481,480952,490693,503311
6,Columbia,4569,4600,4400,4500,4500,4300,4400,4500,4700,...,4069,4039,4037,4003,4007,3990,3979,3970,3962,3952
7,Cowlitz,57801,58800,59800,60600,61400,62500,63800,65900,68200,...,102730,103097,103470,104043,104702,105419,106469,107782,109315,110730
8,Douglas,14890,15100,15000,15200,15300,15300,15600,16100,16600,...,38676,38968,39269,39557,40008,40533,41042,41570,42151,42938
9,Ferry,3889,4100,3800,3900,3900,3800,3800,3900,3800,...,7514,7477,7449,7404,7354,7319,7283,7234,7209,7178
10,Franklin,23342,23500,23900,23800,24100,24200,24400,25200,25600,...,80493,82484,84251,86544,87053,88515,90036,92626,94734,96749
11,Garfield,2976,2900,2900,2700,2700,2800,2800,2900,2900,...,2266,2260,2260,2252,2280,2266,2263,2269,2278,2286
12,Grant,46477,46100,46700,44600,43900,44500,46100,43300,42900,...,89768,90404,91166,91862,92722,93434,94289,96214,97734,99123
13,Grays Harbor,54465,55000,55400,55600,55900,56400,57200,58800,59300,...,72885,73142,73272,73499,73474,73662,73910,74407,75145,75636
14,Island,19638,20300,20900,21100,21700,22400,23100,24200,25000,...,82783,83515,83560,80810,81684,82759,84125,85072,85847,86857
15,Jefferson,9639,9800,9700,9800,9900,9800,10000,10300,10700,...,30184,30424,30592,30983,31266,31705,32000,32315,32683,32977
16,King,935014,952300,971600,984400,1000200,1024000,1047500,1098500,1150000,...,1945686,1956755,1983550,2021027,2061981,2118958,2149910,2187460,2227755,2269675
17,Kitsap,84176,85500,86700,87400,88100,89800,91600,93300,96200,...,250422,252907,253217,255971,259034,263471,265268,269280,272342,275611
18,Kittitas,20467,20900,21200,21700,22000,22400,22800,23600,24600,...,41271,41410,41444,42088,42381,43263,43919,44395,45180,46468
19,Klickitat,13455,13300,13300,13100,12900,12900,12500,12600,12600,...,20530,20677,20805,21031,21210,21496,21804,22087,22443,22735
20,Lewis,41858,42300,42500,42500,42400,42900,43400,44200,45300,...,76299,76765,76966,77563,78006,78556,79477,80250,81151,82149
21,Lincoln,10919,10700,10600,10400,10200,10100,10000,10000,10000,...,10598,10612,10576,10569,10610,10636,10694,10769,10850,10876
22,Mason,16251,16500,17100,17200,17400,17800,18400,19100,19600,...,61235,61611,61956,62366,62545,63125,63889,64658,65082,65726
23,Okanogan,25520,25500,25400,25000,25000,25100,25000,25200,25600,...,41274,41324,41396,41547,41625,41795,41838,41928,41996,42104
24,Pacific,14674,14500,14700,14900,14700,14700,15000,14500,14800,...,21123,21351,21563,21771,21981,22236,22479,22738,22958,23365
25,Pend Oreille,6914,6700,6800,6500,6300,6100,6200,6100,6000,...,13063,13107,13111,13141,13150,13180,13228,13267,13326,13401
26,Pierce,321590,329100,337300,342700,349200,358600,368400,383300,398100,...,806190,814214,823032,834544,845324,862608,877920,891661,905841,920393
27,San Juan,2872,2900,2900,3000,3000,3100,3100,3400,3600,...,15946,16056,16238,16422,16571,16775,16932,17209,17488,17788
28,Skagit,51350,51300,51600,51100,50800,50900,51200,52000,52600,...,117617,118331,119219,120197,121166,122465,123727,125895,128037,129523
29,Skamania,5207,5200,5300,5400,5400,5500,5300,5500,5700,...,11095,11152,11166,11191,11209,11256,11331,11412,11517,11604
30,Snohomish,172199,179900,188400,195300,203000,212700,222500,235700,249000,...,718874,725545,735288,746184,760430,773899,787096,801223,814419,827957
31,Spokane,278333,278700,279800,278500,277900,277200,276600,274200,276300,...,474439,478381,484161,489986,495986,502706,511653,522337,531191,539339
32,Stevens,17884,18000,18000,17500,17400,17500,17500,17800,17600,...,43781,43976,44135,44485,44729,44908,45161,45592,46111,46445
33,Thurston,55049,56800,59000,60300,62000,64400,66600,69700,72900,...,254999,258517,262682,267616,271409,276016,280399,285842,289597,294793
34,Wahkiakum,3426,3500,3500,3300,3300,3400,3400,3600,3300,...,4018,4050,4053,4099,4128,4179,4227,4293,4373,4422
35,Walla Walla,42195,42000,42200,41600,41500,41400,41200,42000,41300,...,58871,59309,59640,60459,61036,61045,61428,61663,62117,62584
36,Whatcom,70317,71300,72500,72800,73700,75100,76600,79100,81200,...,202277,203683,206021,207937,210116,212669,216113,220057,223930,226847
37,Whitman,31263,31900,32400,33000,33400,34000,34700,35800,37300,...,44488,45424,45498,45817,46380,46623,46961,47217,47871,47973
38,Yakima,145112,145100,145000,143800,143200,143400,143400,144600,145500,...,244553,245605,246825,248229,249314,251046,252692,253814,254770,256728

In [32]:
WAPop = WAPop.drop(columns={'Line','Filter','Jurisdiction'}).drop(len(WAPop)-1)

In [33]:
WAPop.columns

Index(['County', ' \nCensus Count of Total Population 1960',
       'Intercensal Estimate of Total Population 1961',
       'Intercensal Estimate of Total Population 1962',
       'Intercensal Estimate of Total Population 1963',
       'Intercensal Estimate of Total Population 1964',
       'Intercensal Estimate of Total Population 1965',
       'Intercensal Estimate of Total Population 1966',
       'Intercensal Estimate of Total Population 1967',
       'Intercensal Estimate of Total Population 1968',
       'Intercensal Estimate of Total Population 1969',
       '\nCensus Count of Total Population 1970',
       'Intercensal Estimate of Total Population 1971',
       'Intercensal Estimate of Total Population 1972',
       'Intercensal Estimate of Total Population 1973',
       'Intercensal Estimate of Total Population 1974',
       'Intercensal Estimate of Total Population 1975',
       'Intercensal Estimate of Total Population 1976',
       'Intercensal Estimate of Total Population 1977',
       'Intercensal Estimate of Total Population 1978',
       'Intercensal Estimate of Total Population 1979',
       '\nCensus Count of Total Population 1980',
       'Intercensal Estimate of Total Population 1981',
       'Intercensal Estimate of Total Population 1982',
       'Intercensal Estimate of Total Population 1983',
       'Intercensal Estimate of Total Population 1984',
       'Intercensal Estimate of Total Population 1985',
       'Intercensal Estimate of Total Population 1986',
       'Intercensal Estimate of Total Population 1987',
       'Intercensal Estimate of Total Population 1988',
       'Intercensal Estimate of Total Population 1989',
       '\nCensus Count of Total Population 1990',
       'Intercensal Estimate of Total Population 1991',
       'Intercensal Estimate of Total Population 1992',
       'Intercensal Estimate of Total Population 1993',
       'Intercensal Estimate of Total Population 1994',
       'Intercensal Estimate of Total Population 1995',
       'Intercensal Estimate of Total Population 1996',
       'Intercensal Estimate of Total Population 1997',
       'Intercensal Estimate of Total Population 1998',
       'Intercensal Estimate of Total Population 1999',
       '\nCensus Count of Total Population 2000',
       'Intercensal Estimate of Total Population 2001',
       'Intercensal Estimate of Total Population 2002',
       'Intercensal Estimate of Total Population 2003',
       'Intercensal Estimate of Total Population 2004',
       'Intercensal Estimate of Total Population 2005',
       'Intercensal Estimate of Total Population 2006',
       'Intercensal Estimate of Total Population 2007',
       'Intercensal Estimate of Total Population 2008',
       'Intercensal Estimate of Total Population 2009',
       '\nCensus Count of Total Population 2010',
       'Intercensal Estimate of Total Population 2011',
       'Intercensal Estimate of Total Population 2012',
       'Intercensal Estimate of Total Population 2013',
       'Intercensal Estimate of Total Population 2014',
       'Intercensal Estimate of Total Population 2015',
       'Intercensal Estimate of Total Population 2016',
       'Intercensal Estimate of Total Population 2017',
       'Intercensal Estimate of Total Population 2018',
       'Intercensal Estimate of Total Population 2019',
       '\nCensus Count of Total Population 2020'],
      dtype='object')

In [43]:
WAPop.columns = ['County'] + [i for i in range(1960,2021)]

In [46]:
WAPop = WAPop.transpose()

In [47]:
WAPop.columns = WAPop.iloc[0]

In [51]:
WAPop.drop('County')

County,Adams,Asotin,Benton,Chelan,Clallam,Clark,Columbia,Cowlitz,Douglas,Ferry,...,Skamania,Snohomish,Spokane,Stevens,Thurston,Wahkiakum,Walla Walla,Whatcom,Whitman,Yakima
1960,9929,12909,62070,40744,30022,93809,4569,57801,14890,3889,...,5207,172199,278333,17884,55049,3426,42195,70317,31263,145112
1961,10100,12700,62300,40600,30400,96800,4600,58800,15100,4100,...,5200,179900,278700,18000,56800,3500,42000,71300,31900,145100
1962,10300,13000,62800,40700,31000,99900,4400,59800,15000,3800,...,5300,188400,279800,18000,59000,3500,42200,72500,32400,145000
1963,10100,13100,62400,40100,30900,102200,4500,60600,15200,3900,...,5400,195300,278500,17500,60300,3300,41600,72800,33000,143800
1964,10200,12900,62300,40000,31300,105000,4500,61400,15300,3900,...,5400,203000,277900,17400,62000,3300,41500,73700,33400,143200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,19643,22003,191531,75500,74160,461869,3990,105419,40533,7319,...,11256,773899,502706,44908,276016,4179,61045,212669,46623,251046
2017,20068,22047,194724,76338,74873,472481,3979,106469,41042,7283,...,11331,787096,511653,45161,280399,4227,61428,216113,46961,252692
2018,20200,22112,198731,77465,75513,480952,3970,107782,41570,7234,...,11412,801223,522337,45592,285842,4293,61663,220057,47217,253814
2019,20335,22182,202822,77944,76439,490693,3962,109315,42151,7209,...,11517,814419,531191,46111,289597,4373,62117,223930,47871,254770
2020,20613,22285,206873,79141,77155,503311,3952,110730,42938,7178,...,11604,827957,539339,46445,294793,4422,62584,226847,47973,256728

In [52]:
WAPop_1960_2020 = WAPop.drop('County')

In [53]:
WAPop_1960_2020.head()

County,Adams,Asotin,Benton,Chelan,Clallam,Clark,Columbia,Cowlitz,Douglas,Ferry,...,Skamania,Snohomish,Spokane,Stevens,Thurston,Wahkiakum,Walla Walla,Whatcom,Whitman,Yakima
1960,9929,12909,62070,40744,30022,93809,4569,57801,14890,3889,...,5207,172199,278333,17884,55049,3426,42195,70317,31263,145112
1961,10100,12700,62300,40600,30400,96800,4600,58800,15100,4100,...,5200,179900,278700,18000,56800,3500,42000,71300,31900,145100
1962,10300,13000,62800,40700,31000,99900,4400,59800,15000,3800,...,5300,188400,279800,18000,59000,3500,42200,72500,32400,145000
1963,10100,13100,62400,40100,30900,102200,4500,60600,15200,3900,...,5400,195300,278500,17500,60300,3300,41600,72800,33000,143800
1964,10200,12900,62300,40000,31300,105000,4500,61400,15300,3900,...,5400,203000,277900,17400,62000,3300,41500,73700,33400,143200

In [142]:
WAPop2 = pd.read_excel("./WA/ofm_april1_postcensal_estimates_pop_1960-present.xlsx", sheet_name=1, header=3)

In [143]:
WAPop2

,Line,Filter,County,Jurisdiction,\n1960 \nCensus Count of Total Population,1961 Postcensal Estimate of Total Population,1962 Postcensal Estimate of Total Population,1963 Postcensal Estimate of Total Population,1964 Postcensal Estimate of Total Population,1965 Postcensal Estimate of Total Population,...,Unnamed: 119,2019 Postcensal Estimate of Total Population,Unnamed: 121,\n2020 \nCensus Count of Total Population,Unnamed: 123,2021 Postcensal Estimate of Total Population¹,Unnamed: 125,2022 Postcensal Estimate of Total Population,Unnamed: 127,2023 Postcensal Estimate of Total Population
0,1,1,Adams,Adams County,9929,10100,10300,10100,10200,10400,...,NaN,20150,NaN,20613,NaN,20900,NaN,21100,NaN,21200
1,2,2,Adams,Unincorporated Adams County,.,.,.,.,.,.,...,NaN,9270,NaN,9472,NaN,9575,NaN,9575,NaN,9585
2,3,3,Adams,Incorporated Adams County,.,.,.,.,.,.,...,NaN,10880,NaN,11141,NaN,11325,NaN,11525,NaN,11615
3,4,4,Adams,Hatton,.,.,.,.,.,.,...,NaN,115,NaN,79,NaN,80,NaN,80,NaN,80
4,5,4,Adams,Lind,.,.,.,.,.,.,...,NaN,550,NaN,535,NaN,535,NaN,535,NaN,535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,444,4,Yakima,Zillah,.,.,.,.,.,.,...,NaN,3185,NaN,3179,NaN,3190,NaN,3195,NaN,3215
444,445,.,.,.,.,.,.,.,.,.,...,NaN,.,NaN,.,NaN,.,NaN,.,NaN,.
445,446,100,State,State Total,2853214,2897000,2948000,2972000,3008000,3065000,...,NaN,7546410,NaN,7706310,NaN,7766975,NaN,7864400,NaN,7951150
446,447,200,State,Unincorporated State Total,.,.,.,.,.,.,...,NaN,2635501,NaN,2668754,NaN,2689740,NaN,2708392,NaN,2728885
447,448,300,State,Incorporated State Total,.,.,.,.,.,.,...,NaN,4910909,NaN,5037556,NaN,5077235,NaN,5156008,NaN,5222265

In [144]:
WAPop2 = WAPop2.drop(columns=['Line','Filter','Jurisdiction'])

In [145]:
WAPop2

,County,\n1960 \nCensus Count of Total Population,1961 Postcensal Estimate of Total Population,1962 Postcensal Estimate of Total Population,1963 Postcensal Estimate of Total Population,1964 Postcensal Estimate of Total Population,1965 Postcensal Estimate of Total Population,1966 Postcensal Estimate of Total Population,1967 Postcensal Estimate of Total Population,1968 Postcensal Estimate of Total Population,...,Unnamed: 119,2019 Postcensal Estimate of Total Population,Unnamed: 121,\n2020 \nCensus Count of Total Population,Unnamed: 123,2021 Postcensal Estimate of Total Population¹,Unnamed: 125,2022 Postcensal Estimate of Total Population,Unnamed: 127,2023 Postcensal Estimate of Total Population
0,Adams,9929,10100,10300,10100,10200,10400,10600,11000,11000,...,NaN,20150,NaN,20613,NaN,20900,NaN,21100,NaN,21200
1,Adams,.,.,.,.,.,.,.,.,4163,...,NaN,9270,NaN,9472,NaN,9575,NaN,9575,NaN,9585
2,Adams,.,.,.,.,.,.,.,.,6837,...,NaN,10880,NaN,11141,NaN,11325,NaN,11525,NaN,11615
3,Adams,.,.,.,.,.,.,.,.,50,...,NaN,115,NaN,79,NaN,80,NaN,80,NaN,80
4,Adams,.,.,.,.,.,.,.,.,650,...,NaN,550,NaN,535,NaN,535,NaN,535,NaN,535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yakima,.,.,.,.,.,.,.,.,1170,...,NaN,3185,NaN,3179,NaN,3190,NaN,3195,NaN,3215
444,.,.,.,.,.,.,.,.,.,.,...,NaN,.,NaN,.,NaN,.,NaN,.,NaN,.
445,State,2853214,2897000,2948000,2972000,3008000,3065000,3125000,3229000,3336000,...,NaN,7546410,NaN,7706310,NaN,7766975,NaN,7864400,NaN,7951150
446,State,.,.,.,.,.,.,.,.,1444907,...,NaN,2635501,NaN,2668754,NaN,2689740,NaN,2708392,NaN,2728885
447,State,.,.,.,.,.,.,.,.,1891093,...,NaN,4910909,NaN,5037556,NaN,5077235,NaN,5156008,NaN,5222265

In [146]:
WAPop2 = WAPop2.drop(columns=WAPop2.columns[1:-5])

In [147]:
WAPop2

,County,2021 Postcensal Estimate of Total Population¹,Unnamed: 125,2022 Postcensal Estimate of Total Population,Unnamed: 127,2023 Postcensal Estimate of Total Population
0,Adams,20900,NaN,21100,NaN,21200
1,Adams,9575,NaN,9575,NaN,9585
2,Adams,11325,NaN,11525,NaN,11615
3,Adams,80,NaN,80,NaN,80
4,Adams,535,NaN,535,NaN,535
...,...,...,...,...,...,...
443,Yakima,3190,NaN,3195,NaN,3215
444,.,.,NaN,.,NaN,.
445,State,7766975,NaN,7864400,NaN,7951150
446,State,2689740,NaN,2708392,NaN,2728885
447,State,5077235,NaN,5156008,NaN,5222265

In [148]:
WAPop2 = WAPop2.iloc[:,[0,1,3]]

In [149]:
WAPop2

,County,2021 Postcensal Estimate of Total Population¹,2022 Postcensal Estimate of Total Population
0,Adams,20900,21100
1,Adams,9575,9575
2,Adams,11325,11525
3,Adams,80,80
4,Adams,535,535
...,...,...,...
443,Yakima,3190,3195
444,.,.,.
445,State,7766975,7864400
446,State,2689740,2708392
447,State,5077235,5156008

In [156]:
WAPop2.columns = ['County','2021','2022']

In [157]:
WAPop2

     County     2021     2022
0     Adams    20900    21100
1     Adams     9575     9575
2     Adams    11325    11525
3     Adams       80       80
4     Adams      535      535
..      ...      ...      ...
443  Yakima     3190     3195
444       .        .        .
445   State  7766975  7864400
446   State  2689740  2708392
447   State  5077235  5156008

[448 rows x 3 columns]

In [159]:
WAPop2.groupby('County').max()

                 2021     2022
County
.                   .        .
Adams           20900    21100
Asotin          22500    22600
Benton         209400   212300
Chelan          80000    80650
Clallam         77750    77625
Clark          513100   520900
Columbia         3950     3950
Cowlitz        111500   112350
Douglas         43550    44000
Ferry            7250     7300
Franklin        98350    99750
Garfield         2300     2300
Grant          100800   101800
Grays Harbor    76050    76400
Island          87100    87700
Jefferson       33100    33350
King          2287050  2317700
Kitsap         277700   280900
Kittitas        45225    47200
Klickitat       23000    23150
Lewis           82700    83400
Lincoln         10900    11050
Mason           65750    66200
Okanogan        42350    42700
Pacific         23425    23600
Pend Oreille    13475    13625
Pierce         928200   937400
San Juan        17850    18150
Skagit         130000   131250
Skamania        11750    11900
Snohomish      837800   847300
Spokane        542100   550700
State         7766975  7864400
Stevens         46725    47050
Thurston       297800   300500
Wahkiakum        4475     4525
Walla Walla     62100    62625
Whatcom        226300   231650
Whitman         44600    47800
Yakima         258100   259950

In [161]:
WAPopAll = WAPop_1960_2020.copy()

In [162]:
WAPopAll.loc[2021] = WAPop2.groupby('County')['2021'].max()

In [163]:
WAPopAll.loc[2022] = WAPop2.groupby('County')['2022'].max()

In [164]:
WAPopAll

County,Adams,Asotin,Benton,Chelan,Clallam,Clark,Columbia,Cowlitz,Douglas,Ferry,...,Skamania,Snohomish,Spokane,Stevens,Thurston,Wahkiakum,Walla Walla,Whatcom,Whitman,Yakima
1960,9929,12909,62070,40744,30022,93809,4569,57801,14890,3889,...,5207,172199,278333,17884,55049,3426,42195,70317,31263,145112
1961,10100,12700,62300,40600,30400,96800,4600,58800,15100,4100,...,5200,179900,278700,18000,56800,3500,42000,71300,31900,145100
1962,10300,13000,62800,40700,31000,99900,4400,59800,15000,3800,...,5300,188400,279800,18000,59000,3500,42200,72500,32400,145000
1963,10100,13100,62400,40100,30900,102200,4500,60600,15200,3900,...,5400,195300,278500,17500,60300,3300,41600,72800,33000,143800
1964,10200,12900,62300,40000,31300,105000,4500,61400,15300,3900,...,5400,203000,277900,17400,62000,3300,41500,73700,33400,143200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018,20200,22112,198731,77465,75513,480952,3970,107782,41570,7234,...,11412,801223,522337,45592,285842,4293,61663,220057,47217,253814
2019,20335,22182,202822,77944,76439,490693,3962,109315,42151,7209,...,11517,814419,531191,46111,289597,4373,62117,223930,47871,254770
2020,20613,22285,206873,79141,77155,503311,3952,110730,42938,7178,...,11604,827957,539339,46445,294793,4422,62584,226847,47973,256728
2021,20900,22500,209400,80000,77750,513100,3950,111500,43550,7250,...,11750,837800,542100,46725,297800,4475,62100,226300,44600,258100
2022,21100,22600,212300,80650,77625,520900,3950,112350,44000,7300,...,11900,847300,550700,47050,300500,4525,62625,231650,47800,259950

In [176]:
WAPop1990 = WAPopAll.drop(range(1960,1990))

In [177]:
WAPop1990

County,Adams,Asotin,Benton,Chelan,Clallam,Clark,Columbia,Cowlitz,Douglas,Ferry,...,Skamania,Snohomish,Spokane,Stevens,Thurston,Wahkiakum,Walla Walla,Whatcom,Whitman,Yakima
1990,13603,17605,112560,52250,56204,238053,4024,82119,26205,6295,...,8289,465628,361333,30948,161238,3327,48439,127780,38775,188823
1991,13823,17677,114439,53436,57626,248417,4044,82862,27648,6366,...,8532,488075,365887,31617,167663,3347,48817,132669,38560,191490
1992,14063,17866,116503,54965,58275,255915,4041,83802,27423,6465,...,8625,496461,371147,32339,172425,3358,49361,137791,38770,194939
1993,14335,18124,119374,56423,59155,264548,4047,84813,28143,6561,...,8736,507336,377020,33250,177058,3420,50015,141270,38909,198225
1994,14679,18666,123457,58319,59919,274423,4053,85921,28692,6648,...,8908,519960,384035,34250,181715,3482,50761,146056,39064,202044
1995,15030,18937,128359,60079,60548,286804,4051,87232,29312,6812,...,9057,531704,391318,35523,186419,3546,51461,149942,39451,206046
1996,15323,19622,132590,61240,61469,298364,4051,88531,29967,6950,...,9236,542738,397508,36504,190409,3615,52162,154122,39590,209381
1997,15698,19943,135620,62895,62037,310512,4056,89568,30548,7058,...,9402,554585,403954,37405,194440,3656,53029,157071,40154,212375
1998,15879,20202,137717,64199,62933,323892,4058,90600,31427,7135,...,9558,570896,408740,38253,198435,3693,53962,160667,40610,215587
1999,16151,20442,139498,65575,63425,334641,4062,91744,32035,7184,...,9744,589266,413665,39122,203167,3758,54496,163774,40842,219483
2000,16428,20551,142475,66616,64179,345238,4064,92948,32603,7260,...,9872,606024,417939,40066,207355,3824,55180,166826,40740,222581
2001,16699,20650,145267,66896,64717,352715,4114,94081,32817,7340,...,9941,617864,423127,40331,210102,3831,55102,170980,40537,224229
2002,16911,20652,148290,67400,65398,364855,4115,94854,32871,7378,...,10045,629287,428755,40611,214139,3825,55242,174238,41002,224790
2003,17081,20709,151933,67507,65928,374091,4111,95849,33545,7397,...,10117,639942,428889,40960,218264,3833,55560,175984,40954,227956
2004,17489,20779,155874,68013,66725,385370,4122,96593,33944,7367,...,10284,648778,431905,41333,223065,3826,56167,180245,41686,230002
2005,17643,20939,159286,68963,67672,394600,4135,97673,34466,7405,...,10515,661346,438249,41792,229286,3867,57005,184965,42498,231902
2006,17690,21176,162255,69895,68948,404737,4128,99095,35505,7462,...,10777,676126,446751,42355,234083,3912,57224,190088,42848,234408
2007,17959,21413,165096,70773,69847,412692,4095,100377,36340,7484,...,10892,689314,454034,42759,239570,3963,57754,195298,42793,236923
2008,18214,21522,167598,71799,70629,419091,4099,101542,37238,7529,...,10941,699330,460303,43283,244853,4005,58063,197675,44066,239524
2009,18421,21593,171402,72185,71027,423775,4097,102175,38036,7563,...,10995,705894,466426,43510,249336,4003,58561,199736,44005,241708
2010,18728,21623,175177,72453,71404,425363,4078,102410,38431,7551,...,11066,713335,471221,43531,252264,3978,58781,201140,44776,243231
2011,18849,21667,177675,72833,71810,428626,4069,102730,38676,7514,...,11095,718874,474439,43781,254999,4018,58871,202277,44488,244553
2012,19013,21680,180115,73166,72383,432320,4039,103097,38968,7477,...,11152,725545,478381,43976,258517,4050,59309,203683,45424,245605
2013,19172,21725,183504,73391,72771,437014,4037,103470,39269,7449,...,11166,735288,484161,44135,262682,4053,59640,206021,45498,246825
2014,19309,21790,186954,74405,73104,444450,4003,104043,39557,7404,...,11191,746184,489986,44485,267616,4099,60459,207937,45817,248229
2015,19451,21889,189520,74873,73482,452534,4007,104702,40008,7354,...,11209,760430,495986,44729,271409,4128,61036,210116,46380,249314
2016,19643,22003,191531,75500,74160,461869,3990,105419,40533,7319,...,11256,773899,502706,44908,276016,4179,61045,212669,46623,251046
2017,20068,22047,194724,76338,74873,472481,3979,106469,41042,7283,...,11331,787096,511653,45161,280399,4227,61428,216113,46961,252692
2018,20200,22112,198731,77465,75513,480952,3970,107782,41570,7234,...,11412,801223,522337,45592,285842,4293,61663,220057,47217,253814
2019,20335,22182,202822,77944,76439,490693,3962,109315,42151,7209,...,11517,814419,531191,46111,289597,4373,62117,223930,47871,254770
2020,20613,22285,206873,79141,77155,503311,3952,110730,42938,7178,...,11604,827957,539339,46445,294793,4422,62584,226847,47973,256728
2021,20900,22500,209400,80000,77750,513100,3950,111500,43550,7250,...,11750,837800,542100,46725,297800,4475,62100,226300,44600,258100
2022,21100,22600,212300,80650,77625,520900,3950,112350,44000,7300,...,11900,847300,550700,47050,300500,4525,62625,231650,47800,259950

In [178]:
WAPop1990.to_csv('WAPop1990.csv')